@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?runfas');
    src:    url('fonts/icomoon.eot?runfas#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?runfas') format('truetype'),
    url('fonts/icomoon.woff?runfas') format('woff'),
    url('fonts/icomoon.svg?runfas#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-display:before {
    content: "\e901";
}
.icon-mobile:before {
    content: "\e902";
}
.icon-search:before {
    content: "\e903";
}
.icon-cross:before {
    content: "\e904";
}



/*公共*/
body,ul{
    margin:0;
    padding:0;
    line-height:1.7;
}
h1{
    /*margin-top:0px;*/
    margin-bottom:0px;
}
hr{
    border-top:1px solid #ebeef1;
}
ul li{
    list-style-type:none;
}
.center{
    text-align:center;
    align:center;
}
.text-left{
    float:right;
}
/*header*/
header{
    /*background-image:url("img/header_01.jpg");*/
    background:no-repeat center center;/*no-repeat:背景图片只显示一次*/
    background-color:gray;
    color:#ffffff;
    font-size:20px;
}
.header-title{

    padding-top:50px;
    padding-bottom:50px;
    margin-bottom:70px;
}
.header-title h1 {
    font-size:80px;
}
.hr-small{
    max-width:200px;
    border-width:3px;
    margin-top:10px;
    margin-bottom:10px;
    color:#ffffff;
    border-top:solid;
}
.nav{
    position:fixed;
    background:#3c3c3c;
    width:100%;
    opacity:0.95;
}
.nav-logo{
    float:left;
    padding:20px;
    width:150px;
}
.nav-ul{
    float:right;
}
.nav-ul li{
    float:left;
    padding:20px;
}
.header-a:visited{
    color:#ffffff;
}
.header-a:hover{
    text-decoration:none;
    color: #0e90d2;
}
.header-a:link{
    color:#ffffff;
    text-decoration:none;
}
/*内容*/
.article-main,.section-main{
    /*margin-left:150px;
    margin-right:150px;*/
    width:70%;
    margin-left:15%;
}
section img{
    max-width:100%;
    height:auto;
    float:left;
    padding:10px 30px 10px 0px;
}
section p{
    font-size:15px;
    color:#000;
}
section a{
    text-decoration:none;
    color:#999;
}
a:hover{
    color:#0e90d2;
}
.section-title{
    color:#000;
}
.section-content{
    font-size:18px;

}
/*
页码-需要优化成一个组件
问题：无法居中
*/
.pageNum-ul li{
    float:left;
    padding:20px;;
}
/*
时间轴
*/
.sjz-ul{
    margin:30px;
    position: relative;
}
.sjz-ul:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left:23%;
    margin-left: -10px;
}
.sjz-time{
    width:15%;
    position:absolute;/*绝对定位*/
}
.sjz-time span{
    display:block;/*块级元素*/
    text-align:right;
    color: #bdd0db;
}
.sjz-time span:last-child{
    font-size:30px;
    color:#6cbfee;
}
.sjz-circle{
    width:40px;
    height:40px;
    -webkit-font-smoothing: antialiased;
    position:absolute;
    background:#46a4da;
    border-radius:50%;
    box-shadow:0 0 0 8px #afdcf8;
    left:23%;
    margin:0 0 0 -25px;
    font-size: 1.6em;
    line-height: 40px;
    color:#fff;
    text-align:center;
}
.sjz-circle-computer:before{
    content: "\e001";
}
.sjz-label{
    background:#6cbfee;
    margin:0 0 15px 28%;
    color:#fff;
    border-radius:5px;
    position:relative;
    padding:20px;
}
li:nth-child(even) .sjz-label{/*:nth-child() even-偶数，old-奇数  */
    background:#3594cb;
}

.sjz-label:after{
    right: 100%;/*规定元素的右边缘，100%完全不见了*/
    border: solid transparent;/*solid-实线，transparent-透明*/
    content: "";
    height: 0px;
    width: 0px;
    position: absolute;/*绝对定位*/
    pointer-events: none;/*鼠标点击事件，none-捕获不了任何内容*/
    border-right-color: #6cbfee;/*颜色*/
    border-width: 10px;/*边框的宽度*/
    top: 10px;/*位置*/
}
li:nth-child(even) .sjz-label:after{/*:nth-child() even-偶数，old-奇数  */
    border-right-color:#3594cb ;
}
.sjz-label h2{
    border-bottom:1px solid rgba(255,255,255,0.4);
}
.sjz-label ul{
    padding:0;
}
/*博客内容-图片居中*/
article p img{
    display:block;
    margin:10px auto;/*auto:左右自适应相同值，即居中*/
}
.copyright {
    color:gray;
    padding-left:20px;
    margin:50px 0px 0px 0px;
    border-left:5px solid #eee;
}
/*搜索按钮*/
.btn-search{
    position:fixed;
    right:15px;
    bottom:15px;
    color: #1bcbd2;
    font-size:28px;
}
.search-Model{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    opacity:0.95;/*不透明度级别*/
    background-color:#111;
    display:none;
}
.search-form{
    position:fixed;
    top:60px;
    width:70%;
    margin:0 15%;
    height:50px;
    font-size:22px;
    background-color:#eee;
    border-radius:4px;
    opacity:1.0;
}
.search-icon{
    color:#fff;
    position:fixed;
    top:20px;
    right:20px;
    font-size:23px;
    border:solid;
    padding:5px;
    border-radius:4px;
}
.favorite-a{
    display:block;
}
/*代码*/
pre{
    background: #E7ECF1;
    border-radius:8px;
    padding:10px;
    overflow:auto;
}
/*博客标签样式*/
#blog_header_tab{
    padding-top:20px;
}
.blog-header-tab{
    background:#A2C8CA;
    border-radius:5px;
    padding:15px;
    margin:5px;
    color: #fff;
}
.blog-header-tab:nth-child(even){
    background:#5BBBEC;
}
.blog-header-tab:hover{
    background: #aa1496;
}
.blog-re-top{
    padding-top:20px;
}
/*移动化*/
@media screen and (max-width:768px){
    /*特有*/
    /*标题*/
    .header-title h1{
        font-size:1.75rem;
    }
    /*菜单*/
    .nav{
        color: #1bcbd2;
        font-size:28px;
    }
    .header-a:link{
        color: #1bcbd2;
    }
    .header-a:visited{
        color: #1bcbd2;
    }
    .nav ul{
        width:100%;
        font-size:24px;
    }
    .nav-logo{
        padding:0 0 0 10px;
    }
    .nav li{
        display:none;
        margin:0;
        padding:5px;
    }
    .nav ul:hover li{/*点击显示菜单*/
        display:block;
    }
    .icon-menu:before {
        content: "\e900";
        float:right;
        padding:10px;
    }
    .icon-menu:hover li{
        display:block;
    }
    /*重写*/
    /*博客列表*/
    .article-main,.section-main{
        width:98%;
        margin-left:1%;
    }


}