@-webkit-keyframes move1 {
  0%{
     transform:translate(330px,-1000px);
   }
  20%{
    transform:translate(330px,0px);
  }
  40%{
    transform:translate(330px,-50px);
  }
  60%{
    transform:translate(330px,0px);
  }
  100%{
    transform:translate(0px,0px);
  }
}
@-webkit-keyframes move2 {
  0%{
    transform:translate(0px,-1000px);
  }
  20%{
    transform:translate(0px,0px);
  }
  40%{
    transform:translate(0px,-50px);
  }
  60%{
    transform:translate(0px,0px);
  }
  100%{
    transform:translate(0px,0px);
  }
}
@-webkit-keyframes move3 {
  0%{
    transform:translate(-330px,-1000px);
  }
  20%{
    transform:translate(-330px,0px);
  }
  40%{
    transform:translate(-330px,-50px);
  }
  60%{
    transform:translate(-330px,0px);
  }
  100%{
    transform:translate(0px,0px);
  }
}