<footer>
    <hr>
    <div class="center">
        <p>Seaton@xxxx</p>
    </div>
    <!-- 搜索 -->
    <a id="js_search" class="btn-search icon-search" title="站内搜索，快捷键：双击Alt"></a>
    <div id="js_search_Model" class="search-Model">
        <div id="js_cross" class="search-icon icon-cross" title="关闭，快捷键：双击Alt"></div>
        <!--<input id="js_search_input" type="text" class="search-input" placeholder="文章标题 标签">-->

        <form id="js_search_from" class="search-form">
            <div class="typeahead__container ">
                <div class="typeahead__field ">
                    <span class="typeahead__query ">
                        <input class="js-typeahead-input" name="q" type="search" autofocus autocomplete="off">
                    </span>
                    <span class="typeahead__button">
                        <button type="submit"><span class="typeahead__search-icon"></span></button>
                    </span>
                </div>
            </div>
        </form>
    </div>


</footer>
