<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
<div id="search"></div>
    <script src="/scripts/jquery.js"></script>
	<script src="/scripts/bootstrap.js"></script>
	<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
	<script src="/scripts/common.js"></script>
	<script src="http://s4.cnzz.com/z_stat.php?id=1258415371&web_id=1258415371" language="JavaScript"></script>
	<script type="text/javascript">
		$(function(){
			loadSearch();
		});
		
		window.changyan.api.config({
			appid: 'cyskr5eV2',
			conf: 'prod_937d0da0fcc946083549ae4aba7d0a50'
		});
	</script>
</footer>
