//文件描述：设置变量
//需要根据实际项目修改部分属性
//-----------------------------------------------

//颜色。gray：灰色；dark表示的颜色最深、light表示的颜色最浅
//color-font:字体默认颜色；color-border：边框默认颜色
//-----------------------------------------------
$color-font-gray: #000000;
$color-font: #333333;
$color-font-light: #CCCCCC;

$color-border-gray: #000000;
$color-border: #333333;
$color-border-light: #CCCCCC;

$color-white: #FFFFFF;
$color-green:#63ad28;

$color-blue-dark: #3333FF;
$color-blue-deep: #0000FF;
$color-blue: #4A77CE;
$color-blue-midding: #2383D2;
$color-blue-light: #3791E8;
